<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <title>BOARD MAIN</title>
  </head>
  <body>
    <h3>ADD LIST</h3> 
    <hr>

    <form action = "/board" method = "POST">
      <table>
        <tr>
            <td><input type="text" name="inputTitle" placeholder="제목입력"></td>
        </tr>
        <tr>
            <td><input type="text" name="inputWriter" placeholder="작성자입력"></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
    </form>

  </body>
</html>